@inherits LayoutComponentBase

<div class="sidebar" style="position: fixed !important;">
    <NavMenu />
</div>

<div class="main" style="padding-left: 15rem; ">
    <div class="content px-4 container">
        @Body
    </div>
</div>